.page-container
{
    display: flex;
}

.admin-options
{
    padding: 40px;   
    margin: auto;
    width: 80%;
    text-align: center;
    display: block;
    background-color: rgba(15, 82, 186, 0.2); 
    margin-top: 30px;
    margin-bottom: 80px;
}

.admin-profile {

    padding: 10px;
    background-color: rgba(15, 82, 186, 0.5); 
    display: block;
    margin: 10px;
}

.admin-info
{
  margin: 20px;
  width: 50%;
}

hr{
    height: 1px;
    color: black;
    border-bottom-color: black;
    background-color: black;
}

.admin-image
{
    width: 400px;
    height: 400px;
}


.option-button {
    background-color:rgba(15, 82, 186, 0.9);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:23px;
    font-weight:bold;
    border: 0px;
    margin: 20px;
    padding: 13px ;
    padding-inline: 20px;
    width: 300px;
  }
  .option-button:hover {
    background-color:#408c99;
  }
  .option-button:active {
    position:relative;
    top:1px;
  }
  

  .edit-button {
    background-color: white;
    display:inline-block;
    cursor:pointer;
    color: black;
    font-family:Arial;
    font-size:23px;
    font-weight:bold;
    border-color: black;
    margin: 20px;
    padding: 13px ;
    padding-inline: 20px;
    margin: auto;
    width: 100%;
  }
  .edit-button:hover {
    background-color:#408c99;
  }
  .edit-button:active {
    position:relative;
    top:1px;
  }
  

  @media (max-width: 1200px) {
    .page-container {
      flex-direction: column;
    }
  
    .admin-profile{
  
    margin: auto;
    width: 80%;
    margin-top: 20px;

    align-items: center;
    align-content: center;
      
    order: -1; /* Place Element 3 at the top */
    align-self: flex-start; /* Align Element 3 to the start (top) */
    }

    .admin-profile
    {
    display: flex;
      font-size: auto;
      padding: 10px;
  }

  .admin-image
{
  margin: auto;
  width: 250px;
  height: 250px;
}

.edit-button{

  font-size: 10px;
}

}