/* .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200vh;  
    padding-left: 100px;  
  } */
  
  .house-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  