# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore build artifacts
build/
dist/

# Ignore dependency lock files
package-lock.json
yarn.lock
