.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #002366;
  position: relative; /* Adicionado para corrigir o posicionamento */
  z-index: 2;
}

.logo {
  height: 125px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.nav-NavLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-NavLinks li {
  margin-right: 10px;
}

.nav-NavLinks li a {
  text-decoration: none;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  padding: 5px;
}

.nav-NavLinks li a:hover {
  color: #ff0000;
}

.nav-NavLinks.show {
  width: 95.8%;
  display: flex;
  flex-direction: column;
}

.logout-button {
  text-decoration: none;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  color: #ff0000;
}


@media screen and (max-width: 768px) {
  .logo {
    height: 75px;
  }

  .title {
    font-size: 16px;
  }

  .menu-icon {
    display: flex;
  }

  .nav-NavLinks {
    display: none;
    flex-direction: column;
    background-color: #002366;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .nav-NavLinks.show {
    display: flex;
  }

  .nav-NavLinks li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
