.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

.logo {
  height: 40px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.nav-NavLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-NavLinks li {
  margin-right: 10px;
}

.nav-NavLinks li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.nav-NavLinks li a:hover {
  color: #ff0000;
}

.nav-NavLinks.show {
  display: flex;
}
