
.LoginForm {
  width: 600px;
  height: 400px;
  border: 1px solid #222020c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-block: 30px;
  margin-inline: 270px;
  position: relative;
  top: 10px;
  left: 300px;
  background-color: #fff;
}

.LoginForm input,
.LoginForm select {
  width: 400px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  margin-bottom: 40px;
}

.LoginForm input:focus,
.LoginForm select:focus {
  border-color: gray;
  outline: 1px dotted #000;
}

.LoginForm .submit-button {
  margin-top: 10px;
}

.LoginForm input[type="submit"] {
  margin-left: 160px;
  width: 100px;
  height: 35px;
  border: 1px solid black;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
}

.LoginForm input[type="submit"]:hover {
  background-color: #867d7d;
  color: #fff;
}

.LoginForm .Register{
  margin-left: 100px;
  padding: 10px 20px;
}
